<form action="#">
    <div class="text-center">
    <h5 class="text-primary mb-4">Reset Password</h5>
    </div>
    <div class="form-group">
      <label class="label">Email</label>
      <div class="input-group">
        <input type="email" class="form-control" placeholder="Email">
        <div class="input-group-append">
          <span class="input-group-text"><i class="icon-check"></i></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary submit-btn btn-block">Submit</button>
    </div>
    <div class="form-group d-flex justify-content-center">
      <a routerLink="/auth/login" class="text-small forgot-password text-black">Proceed to Login</a>
    </div>
  </form>
